# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
pitch_pert_data/
posterior/
sbi-logs/
scratch.py
*archive*
simulation-based-inference-AD.ipynb
individual-subjects.ipynb
*.bak
figs/
sbi_figures/
SBI_results/